
                <div><img src="{{flag}}" alt="" width="30" height="30" style="display: inline-block">
                <h2 style="display: inline-block">{{country}}</h2></div>
                <div>
                    <b>Capital:</b> <span> {{capital}}.</span>
                </div>
                <div>
                    <b>Population:</b> <span>{{population}}.</span>
                </div>
                <div>
                    <b>Languages: </b><span>{{languages}}.</span>

                </div>


